<div class="login-container">
  <div class="login-box">
    <ion-row>
      <ion-col col-12 text-center>
        <img src="assets/images/logo.png" width="300px"/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label position="floating">Correo Electrónico:</ion-label>
            <ion-input type="email" placeholder="Correo Electrónico" [(ngModel)]="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña:</ion-label>
            <ion-input type="password" placeholder="Contraseña" [(ngModel)]="password"></ion-input>
          </ion-item>
          <ion-item *ngIf="esperando">
            <ion-label text-center color="primary">Espere ... </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-button color="success" (click)="login()">Ingresar</ion-button>
      </ion-col>
    </ion-row>
  </div>
</div>
