<div class="container">
    <div class="row">
       <div class="col-md-12 text-right">
          <h2 style="margin-top:0px">Asignación de Asignaturas</h2>
       </div>
    </div>
    <div style="width:100%;height:60px;"></div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Carrera</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <select class="form-control" name="idCarrera" id="idCarrera" [(ngModel)]="idCarreraSeleccionada" (change)="filtroSeleccionado()">
                <option value="0" selected>Seleccione...</option>
                <option *ngFor="let carrera of carreras" value={{carrera.id}}>{{carrera.nombre}}</option>
            </select>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row">
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3" >
            <label class="col-form-label">Período Lectivo en Cierre</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5">
            <select class="form-control" name="idPeriodoLectivo" id="idPeriodoLectivo" [(ngModel)]="idPeriodoLectivoSeleccionado" (change)="filtroSeleccionado()">
                <option value="0" selected>Seleccione...</option>
                <option *ngFor="let periodoLectivo of periodosLectivos" value={{periodoLectivo.id}}>{{periodoLectivo.descripcion}}</option>
            </select>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-2 col-lg-2" ></div>
    </div>
    <div class="form-group row mt-3">
        <div class="col-4">
            <div class="row" *ngIf="filtroListo">
                <div class="col-md-12 mb-2">
                    <h4 style="margin-top:0px">Estudiantes</h4>
                </div>
                <div class="col-md-12">
                    <select class="form-control" name="estudiantes" size="25" [(ngModel)]="idEstudianteSeleccionado" (change)="estudianteSeleccionadoEnLista()">
                        <option value="0" selected>Seleccione...</option>
                        <option *ngFor="let estudiante of estudiantes" value={{estudiante.idMatricula}}>{{estudiante.nombreCompleto}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="row" *ngIf="estudianteSeleccionadoLista">
                <div class="col-md-12 mb-2">
                    <h4 style="margin-top:0px">Asignaturas Tomadas</h4>
                </div>
                <div class="col-md-12">
                    <select class="form-control" name="asignaturasTomadas" size="10">
                        <option *ngFor="let asignatura of asignaturasTomadas" value={{asignatura.id}}>{{asignatura.nombre}} - {{asignatura.codigo}}</option>
                    </select>
                </div>
                <div class="col-12 mt-3">
                    <div class="form-group row">
                        <label for="descripcion" class="col-sm-4 col-form-label">Jornada</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="idJornada" id="idJornada" [(ngModel)]="estudianteAsignacion.idJornada">
                                <option value="0" selected>Seleccione...</option>
                                <option *ngFor="let jornada of jornadas" value={{jornada.id}}>{{jornada.descripcion}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="form-group row">
                        <label for="descripcion" class="col-sm-4 col-form-label">Nivel a Tomar</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="idPeriodoAcademico" id="idPeriodoAcademico" [(ngModel)]="estudianteAsignacion.idPeriodoAcademico">
                                <option value="0" selected>Seleccione...</option>
                                <option *ngFor="let periodoAcademico of periodosAcademicos" value={{periodoAcademico.id}}>{{periodoAcademico.descripcion}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group row">
                        <div class="col-5">
                            <div class="col-md-12 mb-2">
                                <h4 style="margin-top:0px">Asignaturas de la Carrera</h4>
                            </div>
                            <select class="form-control" name="asignaturasCarrera" [(ngModel)]="idAsignaturaCarreraSeleccionada" size="10">
                                <option value="0" selected>Seleccione...</option>
                                <option *ngFor="let asignatura of asignaturasCarrera" value={{asignatura.id}}>{{asignatura.idPeriodoAcademico}} - {{asignatura.nombre}} - {{asignatura.codigo}}</option>
                            </select>
                        </div>
                        <div class="col-2 text-center">
                            <div style="width:100%;height:80px;"></div>
                            <div class="btn-group-vertical">
                                <button type="button" class="btn btn-Secondary" (click)="agregar()">
                                    <span class="fa fa-forward"></span>
                                </button>
                                <button type="button" class="btn btn-Secondary mt-2" (click)="quitar()">
                                    <span class="fa fa-backward"></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="col-md-12 mb-2">
                                <h4 style="margin-top:0px">Asignaturas a Tomar</h4>
                            </div>
                            <select class="form-control" name="asignaturasATomar" [(ngModel)]="idAsignaturaTomarSeleccionada" size="10">
                                <option *ngFor="let asignatura of asignaturasTomar" value={{asignatura.id}}>{{asignatura.idPeriodoAcademico}} - {{asignatura.nombre}} - {{asignatura.codigo}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <button type="button" class="btn btn-success" (click)="guardar()">
                        <span class="fa fa-save"></span>&nbsp;Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
