<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-right">
            <h2 class="text-center">Encuesta de Integración a la Comunidad</h2>
        </div>
    </div>
    <div style="width:100%; height:30px;"></div>
    <div class="form-group row">
        <div class="col-md-12 text-right">
            <div class="alert alert-info text-center">
                <strong>Te invitamos a llenar nuestra encuesta de integración a la comunidad.</strong>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div style="width: 100%; text-align:center;">
            <div>
                <button type="button" class="btn btn-primary">
                    <span class="fa fa-file"></span>&nbsp;Ver Encuesta
                </button>
            </div>
        </div>
    </div> 
</div>