<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title
      ><span
        ><img
          src="./../../../assets/images/logo.png"
          height="30px"
          width="auto"
          style="margin-top: 5px;"/></span
          ><span *ngIf = "refrescandoSala()">&nbsp;Espere</span>
    </ion-title>
    <ion-chip slot="end">
        <ion-avatar>
            <img [src]="srcFoto">
        </ion-avatar>
        <ion-label>{{user.nombre1}} {{user.nombre2}} {{user.apellido1}} {{user.apellido2}}</ion-label>
        <ion-icon name="close" (click)="logout()"></ion-icon>
    </ion-chip>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div
  class="chat-message-box"
  style="overflow-y: auto; overflow-x: hidden; "
>
  <div class="cuadroMensajes">
      <!--Directivas para fltrar mensajes-->
      <div *ngFor="let message of messages">
          <div
          *ngIf="message.nombre == userName"
              class="bubble-me"
          >
              <div class="col-6 writter">
                  <strong>{{ message.nombre }}</strong>
              </div>
              <div class="col-6 writter">
                  {{ message.fecha | date: "medium" }}
              </div>
              <div class="col-12 text-justify">
                  {{ message.mensaje }}
              </div>
              <div class="col-12 text-justify">
                  <div *ngIf = "message.foto">
                      <div *ngIf="message.tipo.split('/')[0] === 'image'">
                          <span (click)="downloadFile(message.foto, message.tipo, message.nomDoc)">
                              <img
                                  src="data:{{message.tipo}};base64,{{ message.foto}}"
                                  width="auto" height="100px"
                                  alt=""
                              />
                          </span>
                      </div>
                      <div *ngIf="message.tipo.split('/')[0] !== 'image'">
                              <span (click)="downloadFile(message.foto, message.tipo, message.nomDoc)">
                                  <img
                                      src="assets/google_docs-logo2.jpg"
                                      width="auto" height="50px"
                                  />
                          </span>
                      </div>
                  </div>
              </div>
          </div>
          <!--
              Sus Mensajes
         -->
          <div
          *ngIf="message.nombre != userName"
              class="bubble-others"
          >
              <div class="col-6 writter">
                  <strong>{{ message.nombre }}</strong>
              </div>
              <div class="col-6 writter">
                  {{ message.fecha | date: "medium" }}
              </div>
              <div class="col-12 text-justify">
                  {{ message.mensaje }}
              </div>
              <div class="col-12 text-justify">
                  <div *ngIf = "message.foto">
                      <div *ngIf="message.tipo.split('/')[0] === 'image'">
                          <span (click)="downloadFile(message.foto, message.tipo, message.nomDoc)">
                              <img
                                  src="data:{{message.tipo}};base64,{{ message.foto}}"
                                  width="auto" height="100px"
                                  alt=""
                              />
                          </span>
                      </div>
                      <div *ngIf="message.tipo.split('/')[0] !== 'image'">
                              <span (click)="downloadFile(message.foto, message.tipo, message.nomDoc)">
                                  <img
                                      src="assets/google_docs-logo2.jpg"
                                      width="auto" height="50px"
                                  />
                          </span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!--emvio-->
<div>
 
    <ion-input type="text" placeholder="Escriba su mensaje" [(ngModel)]="message">
  
    </ion-input>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button ion-button block (click)="sendMessage()">ok
  
        </button>
      </ion-col>
      <ion-col col-5>
    
          <input type="file" ion-button block color="dark" id="foto" placeholder="Fotografía" #fileInput 
                 (change)="CodificarArchivo($event)" accept="*">
        </ion-col>
    </ion-row>
    
  </ion-grid>

</ion-content>
