<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title
      ><span
        ><img
          src="assets/images/logo.png"
          height="45px"
          width="auto"
          style="margin-top: 5px;"
          #refresh
          /></span
          ><span *ngIf = "refrescandoSala()">&nbsp;Espere</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div
  class="chat-message-box"
  style="overflow-y: auto; overflow-x: hidden; "
>
  <div class="cuadroMensajes">
      <!--Directivas para fltrar mensajes-->
      <div *ngFor="let message of messages">
          <div
          *ngIf="message.nombre == userName"
              class="bubble-me"
          >
              <div class="col-6 writter">
                  <strong>{{ message.nombre }}</strong>
              </div>
              <div class="col-6 writter">
                  {{ message.fecha | date: "medium" }}
              </div>
              <div class="col-12 text-justify">
                  {{ message.mensaje }}
              </div>
              <div class="col-12 text-justify">
                  <div *ngIf = "message.foto">
                      <div *ngIf="message.tipo.split('/')[0] === 'image'">
                          <span (click)="downloadFile(message.foto, message.tipo, message.nomDoc)">
                              <img
                                  src="data:{{message.tipo}};base64,{{ message.foto}}"
                                  width="auto" height="100px"
                                  alt=""
                              />
                          </span>
                      </div>
                      <div *ngIf="message.tipo.split('/')[0] !== 'image'">
                              <span (click)="downloadFile(message.foto, message.tipo, message.nomDoc)">
                                  <img
                                      src="assets/google_docs-logo2.jpg"
                                      width="auto" height="50px"
                                  />
                          </span>
                      </div>
                  </div>
              </div>
          </div>
          <!--
              Sus Mensajes
         -->
          <div
          *ngIf="message.nombre != userName"
              class="bubble-others"
          >
              <div class="col-6 writter">
                  <strong>{{ message.nombre }}</strong>
              </div>
              <div class="col-6 writter">
                  {{ message.fecha | date: "medium" }}
              </div>
              <div class="col-12 text-justify">
                  {{ message.mensaje }}
              </div>
              <div class="col-12 text-justify">
                  <div *ngIf = "message.foto">
                      <div *ngIf="message.tipo.split('/')[0] === 'image'">
                          
                              <img
                                  src="data:{{message.tipo}};base64,{{ message.foto}}"
                                  width="auto" height="100px"
                                  (click)="downloadFile(message.foto, message.tipo, message.nomDoc)"
                                  alt=""
                              />
                      </div>
                      <div *ngIf="message.tipo.split('/')[0] !== 'image'">
                              
                                  <img
                                      (click)="downloadFile(message.foto, message.tipo, message.nomDoc)"
                                      src="assets/google_docs-logo2.jpg"
                                      width="auto" height="50px"
                                  />
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
      <div class="row" id="mostrarUltimo">
            .
        </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    
  </ion-fab>

    <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button>
            <ion-icon name="text"></ion-icon>
        </ion-fab-button>
      
        <ion-fab-list side="top">
            <ion-fab-button (click)="writeMessage()">
                <ion-icon name="create"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="adjuntarArchivo()">
                <ion-icon name="attach"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="eliminarAdjunto()">
                <ion-icon name="trash"></ion-icon>
                <ion-icon name="attach"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</div>
</ion-content>
<input type="file" ion-button block color="dark" id="foto" placeholder="Fotografía" #fileInput 
                 (change)="CodificarArchivo($event)" accept="*" [hidden]="true">