<ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-chip slot="end">
            <ion-avatar>
                <img [src]="srcFoto">
            </ion-avatar>
            <ion-label>{{user.nombre1}} {{user.nombre2}} {{user.apellido1}} {{user.apellido2}}</ion-label>
            <ion-icon name="close" (click)="logout()"></ion-icon>
          </ion-chip>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <app-sidebar></app-sidebar>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
  